.quiz-test {
  margin: 10rem 0px;
  background: greenyellow;
  color: #000;
  padding-left: 3.5rem; }
  .quiz-test #question ul {
    padding-left: 0px; }
    .quiz-test #question ul li {
      list-style: none; }
  .quiz-test .button {
    margin: 30px 0px; }
    .quiz-test .button a {
      background: #000;
      color: #fff;
      text-align: center;
      padding: 10px 15px; }
